// Colors

$black--brighter:		#171515;

$gray:					#6d6d6d;
$gray--brighter:		#ccc;

$gray--darker:			#585858;

$red:					#ed2728;
$red--darker:			#b71b00;

$color-page-background:	white;
