// Fonts

$lato:				'Lato', sans-serif;


// Font weights

$thin:				100;
$light:				300;
$regular:			400;
$bold:				700;
$black:				900;


// Default

$base-font-size:	16;
$text:				$lato;
$grid-base-width:	1126;


// RWD
$tablet:			900;