.o-btn {
	@include antialias;
	@include border-radius( 50px );
	@include hover;
	position: relative;
	display: inline-block;
	height: 50px;
	padding: 0 60px;
	line-height: 48px;
	font: {
		weight: $bold;
		size: em(16);
	}
	
	&--filled {
		background-color: $red;
		
		color: white;
		
		&:hover {
			background-color: $red--darker
		}
	}
	
	&--outline {
		background-color: white;
		border: 3px solid black;
		padding: 0 60px;
		line-height: 43px;
		color: black;
		
		&:hover {
			background-color: black;
			color: white;
		}
	}
	
	@media screen and ( max-width: 768px ) {
		padding: 0 40px;
		font-size: em(14);
	}
}
