.o-header {
	margin-bottom: 50px;
	font-weight: $bold;
	line-height: 1.2;
	
	.c-about &,
	.c-map & {
		margin-bottom: 25px;
		
		@media screen and ( max-width: 700px ) {
			margin-bottom: 10px;
		}
	}
	
	&__lead {
		font: {
			size: em(45);
		}
		color: black;
	}
	
	&__sublead {
		font-size: em(30);
	}
	
	@media screen and ( max-width: 700px ) {
		margin-bottom: 25px;

		&__lead {
			font-size: em(38);
		}
		
		&__sublead {
			font-size: em(24);
		}
	}
	
	@media screen and ( max-width: 480px ) {
		&__lead {
			font-size: em(30);
		}
		
		&__sublead {
			font-size: em(18);
		}
	}
}