.icon-minus:before {
    content: "\e90f";
}
.icon-plus:before {
    content: "\e910";
}
.icon-clock:before {
    content: "\e90a";
}
.icon-more:before {
    content: "\e90b";
}
.icon-partners:before {
    content: "\e90c";
}
.icon-ticket:before {
    content: "\e90d";
}
.icon-voice-recorder:before {
    content: "\e90e";
}
.icon-arrow:before {
    content: "\e900";
}
.icon-marker:before {
    content: "\e901";
}
.icon-symbol:before {
    content: "\e902";
}
.icon-envelope:before {
    content: "\e903";
}
.icon-youtube:before {
    content: "\e904";
}
.icon-linkedin-with-circle:before {
    content: "\e905";
}
.icon-flickr-with-circle:before {
    content: "\e906";
}
.icon-instagram-with-circle:before {
    content: "\e907";
}
.icon-twitter-with-circle:before {
    content: "\e908";
}
.icon-facebook-with-circle:before {
    content: "\e909";
}
