.c-bottom {
	border-top: 1px solid #454444;
	padding: {
		top: 35px;
		bottom: 35px;
	}

	&__copyright {
		@include opacity(.3);
		float: left;
		
		p {
			float: left;
			margin-right: 40px;
			font-weight: $thin;
		}		
	}
	
	@media screen and ( max-width: 670px ) {
		border-top: none;
		padding-top: 0;

		&__copyright {
			float: none;

			p {
				float: none;
				margin: 0;
				text-align: center;
			}
		}
	}
}