.c-grid {
	position: relative;
	z-index: 10;
	color: white;
	
	i {
		position: absolute;
		left: 25px; top: 25px;
		font-size: em(40);
		z-index: 15;
	}
	
	&__apla {
		@include hover;
		@include opacity(0);
		position: absolute; 
		left: 0; top: 0;
		z-index: 10;
		width: 100%; height: 100%;

		&--red {
			background-color: rgba($red, .9);
		}

		&--gray {
			background-color: rgba($gray--darker, .9);
		}

		&--visible {
			@include opacity(1);
		}
	}

	&__text {
		font-weight: $thin;
		
		@media screen and ( max-width: 1024px ) {
			font-size: em(14);
		}
		
	}

	&__item {
		float: left;
		position: relative;
		height: 280px;
		background-color: $gray--darker;
		overflow: hidden;

		&--short {
			width: grid(280);
			
			.c-grid__text {
				padding: {
					left: grid(40, 280);
					right: grid(40, 280);
				}
			}
		}
		
		&--wide {
			width: grid(560);
			
			.c-grid__text {
				padding: {
					left: 90px;
					right: grid(90, 560);
				}
			}
		}
		
		&:hover {
			.c-grid__apla {
				@include opacity(1);
			}
		}
	}
	
	.o-media {
		@include transform(translate(-50%, -50%));
		position: absolute;
		left: 50%; top: 50%; z-index: 1;
		width: auto;
		max-width: none;
		height: 100%;
	}
	
	@media screen and ( max-width: $tablet+px ) {
		max-width: 100%;
	}
	
	@media screen and ( max-width: 700px ) {
		display: none;
	}
	
}