.c-nav-secondary {
	float: right;
	text-align: right;
	
	li {
		margin-bottom: 10px;
	}
	
	a {
		text-decoration: underline;
		font-weight: $thin;
		
		&:hover {
			text-decoration: none;
			color: $red;
		}
	}
}